# Python
*.pyc
*.pyo
__pycache__/
*.pyd
.Python
env/
venv/
ENV/
*.env

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*~
*.bak
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# Test and coverage
.coverage
.tox/
.nox/
*.coverage
nosetests.xml
coverage.xml
*.hypothesis/

# Build files
build/
dist/
*.egg-info/

# PyInstaller
*.spec

# MySQL and PostgreSQL databases
*.sql
*.sqlite3

# Other
*.pot
*.mo
